<div class="card bg-base-200">
  <div class="card-body">
    <h3 class="card-title text-lg">
      <i class="fas fa-cog text-warning mr-2"></i>
      管理
    </h3>

    <% if current_user.own?(@question) %>
    <div class="space-y-2">
      <%= link_to edit_question_path(@question), id: "button-edit-#{@question.id}",
                  class: "btn btn-outline btn-warning btn-block" do %>
        <i class="fas fa-edit mr-2"></i>
        問題を編集
      <% end %>
      <%= link_to question_path(question), id: "button-delete-#{question.id}", 
                  class: "btn btn-outline btn-error btn-block",
                  data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm') }  do %>
        <i class="fas fa-trash mr-2"></i>
        問題を削除
      <% end %>
    </div>
    <% end %>
  </div>
</div>


