<% @questions.each do |question| %>
    <li class="flex w-full items-center text-sm py-2 px-3 hover:bg-amber-100"
        role="option"
        data-autocomplete-value="<%= question.title %>"
        data-autocomplete-label="<%= question.title %>"
        data-question-id="<%= question.id %>">
      <%= question.title %>
    </li>
  <% end %>