  <% breadcrumb :search_tag, @tag, @questions %>
  <%= paginate @questions %>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-12 mx-auto max-w-screen-6xl m-8">
  <!-- 問題一覧 -->
    <% if @questions.present? %>
      <div class="m-8">
        <%= render @questions %>
      </div>
    <% else %>
      <div class="m-8">問題がありません</div>
    <% end %>
  </div>
  <%= paginate @questions %>