<%= turbo_frame_tag "modal" do %>
  <dialog id="list_modal" class="modal modal-open modal-bottom sm:modal-middle">
    <div class="modal-box">
      <h2 class="text-lg font-bold mb-4">リスト名を編集</h2>
      <%= render 'form', list: @list %>
    </div>
    <form method="dialog" class="modal-backdrop">
      <%= link_to "close", mypage_user_path(tab: "user_lists", list_id: @list.id), data: { turbo_frame: "_top" } %>
    </form>
  </dialog>
<% end %>
