<div class="hero bg-base-200 min-screen">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <%= image_tag 'NeuroWord.png' , class: 'sm rounded-lg shadow-2xl' %>
    <div>
      <p class="py-6">
        「NeuroWord（ニューロワード）」は、単語や用語とその関連語・説明を一覧表示し、正しい組み合わせを選んでいくWebゲームアプリです。
      </p>
    <%= link_to questions_path, class: "btn btn-primary btn-lg md:btn-lg xl:btn-xl" do %>
      <i class="fa-solid fa-magnifying-glass" viewBox="0 0 24 24"></i>
      <span class="font-mplus1">さぁ、問題を探そう！</span>
    <% end %>
    </div>
  </div>
</div>