<%= link_to questions_path(category_id: question.category_id), data: { turbo_frame: "_top" } do %>
  <div class="flex items-center gap-2 px-2 rounded-sm hover:bg-base-300">
    <i class="fa-solid fa-folder text-base-content/70"></i>
    <%= question.category.name %>
  </div>
<% end %>

<div class="flex flex-wrap items-center gap-1 justify-start max-w-xs px-2">
  <% if question.tags.present? %>
    <div class="mb-3">
      <i class="fa-solid fa-tag mr-1 text-base-content/70"></i>
      <% question.tags.each do |tag| %>
        <%= link_to truncate(tag.name, length: 10, omission: "…"), questions_path(category_id: params[:category_id], tag_name: tag.name, search_keyword: params[:search_keyword]), class: 'tag-badge badge badge-outline badge-info shadow-sm text-xs flex-shrink-0', title: tag.name, data: { turbo_frame: "_top" } %>
      <% end %>
    </div>
  <% end %>
</div>