<% if object.errors.any? %>
  <div id="error_explanation" class="alert alert-error shadow-lg mb-4">
    <ul class="list-disc list-inside">
      <% object.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>