<footer class="footer sm:footer-horizontal footer-center bg-base-300 text-base-content p-4">
  <aside>
  <nav class="grid grid-flow-col gap-4">
    <%= link_to t('shared.header_end_authenticated.terms_of_service'), '#', class: 'link link-hover' %>
    <%= link_to t('shared.header_end_authenticated.privacy_policy'), '#', class: 'link link-hover' %>
    <%= link_to t('shared.header_end_authenticated.contact'), 'https://x.com/MO_study2408', class: 'link link-hover' %>
  </nav>
        <div div class='copyright'>
          <p><%= t('shared.header_end_authenticated.copyright') %></p>
        </div>
  </aside>
</footer>