<div class="tooltip" data-tip="<%= t('.check_request') %>">
  <%= link_to t('.incompleted'), requests_path(q: { question_title_cont: question.title, status_in: ['0'] }), class: "btn btn-warning w-full sm:w-auto" %>
</div>