

<div data-controller="autocomplete request-form"
      data-autocomplete-url-value="<%= autocomplete_questions_path %>"
      data-autocomplete-hidden-field="#request_question_id">
  <input class="input input-bordered w-full"
         autocomplete="off"
         data-autocomplete-target="input"
         type="search" />
  <ul class="list-group" data-autocomplete-target="results"></ul>
</div>