<p><%= @resource.name %>様</p>


<p>いつもNeuroWord～仲間の言葉を見つけよう！～をご利用いただきましてありがとうございます。</p>
<p>お客様のパスワードリセットのリクエストを受け付けました。</p>
<p>パスワードをリセットするには以下のリンクをクリックしてください。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>※パスワードリセット後は、前のパスワードはご利用できなくなります。</p>

<p>--------------------------------------------------</p>
<p>※このメールにお心当たりがない場合は、お手数をおかけいたしますが本メールを破棄していただけますようお願いいたします。</p>
<p>※本メールは送信専用です。ご返信いただきましてもお答えできませんので、ご了承ください。</p>
